<div class="container">
  <h3 align="left" class="heading swed_color mt-5">
    Mortgage loan
  </h3>
  <div class="mb-3 bg-swed" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-8">
        <div class="card-body">
          <h2 class="card-title">There's no place like home!</h2>
          <h5 class="card-text">Home loan will be a perfect solution if you need a loan for a new home, serious
            renovation or construction.</h5>
          <ul>
            <li>
              <h5>Fast application processing</h5>
            </li>
            <li>
              <h5>Opportunity to pay back earlier and manage your contract via Internet Banking</h5>
            </li>
            <li>
              <h5>We constantly offer discounts for home loans, when you receive the discount code from the seller and,
                please, do not forget to submit it completing the application for the home loan in the Internet Bank.
              </h5>
            </li>
          </ul>
          <ul>
            <li>
              <h5 class="card-text"><small class="text-muted"><a href="">Find out your possibilities!</a></small></h5>
            </li>
          </ul>
          <div class="mb-5">
            <button type="button" class="btn btn-danger">Fill in the application</button>
            <button type="button" class="btn btn-warning">Apply as co-applicant</button>
          </div>
          <h5>The loan must be secured by mortgage of real estate acceptable to the bank. Please note, that by using
            these financing services, you are assuming financial obligations. Improper fulfilment or non-fulfilment of
            financial obligations may have a negative impact on your credit history and make borrowing more expensive;
            you also risk losing ownership rights to the mortgaged real estate.</h5>
        </div>
      </div>
      <div class="col-4">
        <img src="https://www.swedbank.lt/img/private/credit/loans/home/campaign/826x1000_Home_loan_kid.jpg"
          class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
  <app-multistepform [data]="data"></app-multistepform>

</div>
