<div class="multistep">
  <div class="multistep-header" *ngIf="startingIndex < countSteps">
    <ul class="form-heading">
      <li *ngFor="let step of stepItems; let i = index" [class.active]="i === startingIndex"
        [class.completed]="i < startingIndex">
        <span class="stepno">{{i+1}}</span>
        <span class="steptitle">{{ stepItems[i] }}</span>
      </li>
    </ul>
  </div>
  <div class="multistep-content">
    <app-form *ngIf="stepItems && startingIndex < countSteps" [countSteps]="countSteps" [stepNo]="startingIndex"
      [formFields]="data[startingIndex].formFields" [formValues]="formValues" [stepName]="data[startingIndex].stepname"
      (formData)="getFormData($event)" (newStep)="onnewStep($event)"></app-form>
    <app-result *ngIf="stepItems && startingIndex === countSteps" [allFormsData]="allFormsData"></app-result>
  </div>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
      role="tab" aria-controls="nav-home" aria-selected="true">About</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
      role="tab" aria-controls="nav-profile" aria-selected="false">How to Apply</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
      role="tab" aria-controls="nav-contact" aria-selected="false">Conditions and fees</button>
  </div>
</nav>
<div class="tab-content mb-5" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="row">
      <div class="card col-md-4">
        <div class="card-header">
          <div class="card-title">
            <h4>Home Loans</h4>
          </div>
        </div>

        <div class="card-body">
          <ul>
            <li>
              For buying new home.</li>
            <li>
              For purchasing land plot and building a home.</li>
            <li>
              If you wish buy new property before selling the old one.</li>
            <li>
              Down payment starting from 15%.
            </li>
          </ul>
        </div>
      </div>
      <div class="card col-md-4">
        <div class="card-title">
          <h4>Home Loans</h4>
        </div>
        <div class="card-body">
          <ul>
            <li>
              For buying new home.</li>
            <li>
              For purchasing land plot and building a home.</li>
            <li>
              If you wish buy new property before selling the old one.</li>
            <li>
              Down payment starting from 15%.
            </li>
          </ul>
        </div>
      </div>
      <div class="card col-md-4">
        <div class="card-title">
          <h4>Home Loans</h4>
        </div>
        <div class="card-body">
          <ul>
            <li>
              For buying new home.</li>
            <li>
              For purchasing land plot and building a home.</li>
            <li>
              If you wish buy new property before selling the old one.</li>
            <li>
              Down payment starting from 15%.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul>
      <li>Home Loans and Home Equity Loans. General Terms and Conditions
        Download</li>

      <li> Mortgage Loans with State Support (from 2006) and Home Loans Insured by UAB ‘Būsto paskolų draudimas‘.
        General
        Terms and Conditions
        Download</li>
      <li>
        List of independent property valuators
        Download</li>
    </ul>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <li>Determine how much you can expect to borrow based on your current salary and financial commitments.
      Fill in the application on the Internet Banking site and get a consultation.
      The bank notifies you of its loan decision.
      Sign the loan agreement on the Internet Banking site and set up home insurance.
      After the notarial transaction, the bank will disburse the loan.
      Any property to be bought and mortgaged must be appraised by an independent valuator.</li>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
