.multistep-header {
  text-align: center;
}
.form-heading {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
  display: inline-block;
}
.form-heading li {
  display: inline-block;
  padding: 10px;
  min-width: 260px;
  position: relative;
}
.form-heading li::after {
  position: absolute;
  left: 0;
  top: 30px;
  content: "";
  width: 100%;
  height: 4px;
  background: #cccccc;
}
.form-heading li:first-child::after {
  width: 100%;
  left: 50%;
}
.form-heading li:last-child::after {
  width: 50%;
}
.stepno {
  background: #000000;
  color: #ffffff;
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
.steptitle {
  display: block;
  z-index: 1;
  position: relative;
  text-transform: capitalize;
}
.form-heading li.active .stepno,
.form-heading li.active::after {
  background: #f05f1d;
}
.form-heading li.completed .stepno,
.form-heading li.completed::after {
  background: #28a745;
}
