<div class="container">

  <form [formGroup]="formName" #formDir="ngForm" appFocus (ngSubmit)="formDir.form.valid && submit(formDir)">
    <div class="row g-3" *ngFor="let form of formFields; let i = index">
      <div class="col-md-3"></div>
      <div class="col-md-6 form-group" *ngIf="form.input == 'text'">
        <label class="form-label">{{form.key}}
          <span class="required" *ngIf="formName.get(form.key).hasError('required')">*</span>
        </label>
        <input [type]="form.input" [formControlName]="form.key" class="form-control"
          [ngClass]="{'is-invalid' : formName.get(form.key).errors && formDir.submitted }">
        <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted">
          <div *ngFor="let err of form.valids; let k = index">
            <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group" *ngIf="form.input == 'email'">
        <label class="form-label">{{form.key}}
          <span class="required" *ngIf="formName.get(form.key).hasError('required')">*</span>
        </label>
        <input [type]="form.input" [formControlName]="form.key" class="form-control"
          [ngClass]="{'is-invalid' : formName.get(form.key).errors && formDir.submitted }">
        <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted">
          <div *ngFor="let err of form.valids; let k = index">
            <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group" *ngIf="form.input == 'password'">
        <label class="form-label">{{form.key}}
          <span class="required" *ngIf="formName.get(form.key).hasError('required')">*</span>
        </label>
        <input [type]="form.input" minlength="3" [formControlName]="form.key" class="form-control"
          [ngClass]="{'is-invalid' : formName.get(form.key).errors && formDir.submitted }">
        <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted">
          <div *ngFor="let err of form.valids; let k = index">
            <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group" *ngIf="form.input == 'select'">
        <label class="form-label">{{form.key}}
          <span class="required" *ngIf="formName.get(form.key).hasError('required')">*</span>
        </label>
        <select [formControlName]="form.key" class="form-control"
          [ngClass]="{'is-invalid' : formName.get(form.key).errors && formDir.submitted }">
          <option *ngFor="let item of form.items; let j = index" [value]="item.id" [selected]="formValues[form.key]">
            {{item.name}}
          </option>
        </select>
        <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted ">
          <div *ngFor="let err of form.valids; let k = index">
            <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group" *ngIf="form.input == 'radio'">
        <label>{{form.key}}
          <span class="required" *ngIf="formName.get(form.key).hasError('required')">*</span>
        </label>
        <div class="form-group">
          <div class="form-check-inline" *ngFor="let item of form.items; let j = index">
            <label class="form-check-label">
              <input [type]="form.input" class="form-check-input" [formControlName]="form.key" [value]="item.id"
                [ngClass]="{'is-invalid' : formName.get(form.key).errors && formDir.submitted }" name="form.key"
                [checked]="formValues[form.key]">{{item.name}}
            </label>
          </div>
          <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted">
            <div *ngFor="let err of form.valids; let k = index">
              <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group" *ngIf="form.input == 'checkbox'">
        <label>{{form.key}}
          <span class="required" *ngIf="formName.get(form.key).hasError('required')">*</span>
        </label>
        <div class="form-group">
          <div class="form-check-inline" *ngFor="let item of form.items; let j = index">
            <label class="form-check-label">
              <input [type]="form.input" class="form-check-input" [formControlName]="form.key" [value]="item.id"
                [ngClass]="{'is-invalid' : formName.get(form.key).errors && formDir.submitted }" name="form.key"
                [checked]="formValues[form.key]">{{item.name}}
            </label>
          </div>
          <div *ngIf="!formName.get(form.key).valid && formName.get(form.key).errors && formDir.submitted">
            <div *ngFor="let err of form.valids; let k = index">
              <span class="error" *ngIf="formName.get(form.key).hasError(err.valid)">{{err.error}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 form-group">
        <button type="button" class="btn btn-default" [disabled]="stepNo === 0"
          (click)="gotoStep(stepNo-1)">Prev</button>

        <button type="submit" *ngIf="stepNo !== countSteps - 1" class="btn btn-success float-end">Next</button>
        <button type="submit" *ngIf="stepNo === countSteps - 1" class="btn btn-success float-end">Submit</button>
      </div>
    </div>
  </form>

</div>
