/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fbf2ea;
}

.bg-swed {
  background-color: #fbf2ea;
}

.swed_color {
  color: #f05f1d;
}
